{% extends "!layout.html" %}

{% block extrahead %}
  <meta name="keywords" content="ptsa, python, time series, neuroscience">
  <link REL="icon" HREF="/_images/favicon.png" TYPE="image/png">
{% endblock %}

{% block rootrellink %}
  <li><a href="{{ pathto('index') }}">PTSA Home</a> |&nbsp;</li>
  <li><a href="{{ pathto('contents') }}">Documentation</a> &raquo;</li>
{% endblock %}

{% block relbar1 %}
  <div id="header">
  <table width="100%">
  <tr><td style="text-align:left;vertical-align:middle"><img src="_static/logo_blue.png" /></td>
  <td style="text-align:right;vertical-align:bottom">Python Time
  Series Analysis</td></tr>
  </table>
  </div>
{{ super() }}
{% endblock %}


{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

{% block footer %}
{{ super() }}
<!--  <script type="text/javascript"> -->
<!--  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); -->
<!--  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); -->
<!--  </script> -->
<!--  <script type="text/javascript"> -->
<!--  var pageTracker = _gat._getTracker("UA-5958822-1"); -->
<!--  pageTracker._trackPageview(); -->
<!--  </script> -->
{% endblock %}

